body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    height: 100vh;
    margin: 0;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: #F9FAFB;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
    background-color: white;
    border: 8px solid #D4A373;
}