body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    height: 100vh;
    margin: 0;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: #F9FAFB;
}

td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #F9FAFB
}

th{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #F9FAFB
}

th, td{
    background-color: #6D28D9;
    text-align: center;
    padding-right: 70px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid #D4A373;
    border-radius: 20px;
}

a{
    color:#F9FAFB;
    text-decoration: none;
}